@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
.header {
  position: absolute;
  background: rgba(167, 114, 15, 0.974);
  height: 200px;
  margin: 0px;
  width: 100%;
}

.btnRet{
  --ripple-color: transparent;
  margin-top: 20px;
  width: 45px;
  height: 45px;
  --box-shadow: none;
  border-radius: 50%;
  --border-radius: 50%;
  color: white;
  background-color: transparent;
  margin-left: 0px;
}

.icRet{
  position: absolute;
  width: 30px;
  height: 30px;
  margin-right: 5px;
}


ion-title{
  font-family: "Outfit", sans-serif;
  color: #F2F2F2;
  font-size: 37px;
}

.imgPro{
  position: absolute;
  width: 115px;
  height: 120px;
  top: 30px;
  right: 0;
}

ion-list{
  background: white;
  margin-top: 95px;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  box-shadow: 0px -2px 2px rgba(0, 0, 0, 0.159);
  height: auto;
}

.subImg{
  margin: 0px 50px 0px 50px;
}

.contImg{
  background:rgba(155, 150, 150, 0.342);
  padding: 10px;
  text-align: center;
  border-radius: 50px;
  width: 100%;
  height: 225px;
  margin-bottom: 20px;
}

.image-container{
  width: 250px;
  height: 200px;
}

.button-container {
  margin-bottom: 5px;
}

.btncam{
  --box-shadow: none;
  color: white;
  font-family: "Outfit", sans-serif;
  background: rgb(107, 73, 9);
  padding: 6px 7px;
  font-size: 15px;
  border-radius: 50px;
  margin: auto;
}

.btnup{
  --box-shadow: none;
  --background: rgb(113, 199, 43);
  --border-radius: 50px;
  height: 40px;
  font-family: "Outfit", sans-serif;
  font-size: 16px;
  margin-left: 54%;
}

.btnRet {
  margin-bottom: 16px;
}

ion-item {
  margin-bottom: 12px;
}

ion-input {
  border-bottom: 1px solid rgba(0, 0, 0, 0.253);
  font-family: "Outfit", sans-serif;
  font-size: 16px;
  color: #272727;
}
