<ion-content [fullscreen]="true">
  <div class="header">
    <ion-buttons slot="start" class="ion-no-padding">
      <ion-button class="btnRet" color="black" routerLink="/tabs/tab2">
        <ion-icon class="icRet" name="caret-back"></ion-icon>
      </ion-button>
      <ion-title class="ion-no-padding">PRODUCTO</ion-title>
    </ion-buttons>
  </div>
  <img class="imgPro" src="assets/ImgUpd-Cre/UClog.png" alt="Product">

  <ion-list lines="none">
    <div class="container ion-padding">
      <div class="contImg">
        <div *ngIf="fotoTomada" clas="subImg">
        <img class="image-container" [src]="fotoTomada" alt="Foto tomada">
        </div>
      </div>
      <ion-buttons class="button-container">
        <ion-button class="btncam" (click)="seleccionarDesdeGaleria()">SUBIR FOTO</ion-button>
        <ion-button class="btncam" (click)="tomarFoto()">TOMAR FOTO</ion-button>
      </ion-buttons>
      <form>
        <ion-item lines="none">
          <ion-input label="Nombre de Producto" labelPlacement="floating" placeholder="Nombre" [value]="name"></ion-input>
        </ion-item>
        <ion-item lines="none">
          <ion-input label="Descripción" labelPlacement="floating" placeholder="Descripción" [value]="desc"></ion-input>
        </ion-item>
        <ion-item lines="none">
          <ion-input label="Precio" labelPlacement="floating" type="number" placeholder="Precio" [value]="price"></ion-input>
        </ion-item>
      </form>
      <ion-button class="btnup" routerLink="/tabs/tab2">ACTUALIZAR</ion-button>
    </div>
  </ion-list>
</ion-content>