@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

.ContGe{
  --background: rgba(128, 128, 128, 0.299);
  margin-top: 8px;
  padding-left: 15px;
  padding-right: 15px;
  --border-radius: 50px;
  --inner-padding-end: 0px;
}

.status-pedido {
  font-size: 14px;
  color: gray;
  margin-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.ImgItem{
  --background: rgba(0, 0, 0, 0);
  --border-radius: 50px;
  margin-top: 20px;
  margin-bottom: 15px;
}

.DetPed{
  background:rgb(248, 248, 248);
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 25px;
}

.box{
  width: 100%;
}

.ImgLoc{
  width: 100%;
  height: 200px;
  border-radius: 50px;
}

p, h4, ion-card-title,ion-card-subtitle{
  font-family: "Outfit", sans-serif;
}

.product{
  width: 100%;
  height: 100%;
}

.btnview{
  --border-radius: 100%;
  --box-shadow: none;
  width: 30px;
  height: 30px;
  padding: 0px;
  margin: 0px;
  color: #72C28F;
  margin: 00px 0px 0px 0px;
}

ion-icon{
  position: absolute;
  width: 30px;
  height: 30px;
}

ion-select{
  font-family: "Outfit", sans-serif;
  font-size: 18px;
}

.total, .total-price{
  display: inline-block;
}

.total,.details-floor,.details-room,.details-clas{
  font-size: 18px;
  font-weight: 500;
}

.total-price{
  float: right;
}

.details-floor,.details-fnum{
  display: inline-block;
}

.details-fnum{
  float: right;
}

.details-room,.details-rnum{
  display: inline-block;
}

.details-rnum{
  float: right;
}

.details-clas, .details-cnum{
  display: inline-block;
}

.details-cnum{
  float: right;
}

ion-card{
  box-shadow: none;
  border-radius: 25px;
  margin-bottom: 15px;
  background: rgba(248, 248, 248);
}

ion-card-content{
  padding: 5px 7px;
}

.AddPro {
  --background: rgb(199, 43, 43) ;
}

.PImg{
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  margin-left: 0px;
}


.product{
  border-radius: 35px;
}

.cant{
  float: right;
}

h4{
  text-align: center;
  font-size: 25px;
}

ion-list{
  margin-top: 120px;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  box-shadow: 0px -2px 2px rgba(0, 0, 0, 0.159);
}

.header{
  position: absolute;
  background: blue;
  height: 200px;
  margin: 0px;
  width: 100%;
}

.imgPhe{
  position: absolute;
  width: 130px;
  height: 140px;
  top: 10px;
  right: 0;
}

.ptit{
  font-family: "Outfit", sans-serif;
  color: #F2F2F2;
  font-optical-sizing: auto;
  font-size: 48px;
  margin: 2px 0px 0px 10px;
  font-weight: 650;
}

.psub{
  font-family: "Outfit", sans-serif;
  color: #F2F2F2;
  font-optical-sizing: auto;
  font-size: 25px;
  margin-top: 2px;
  margin-left: 11px;
}

ion-modal {
  --height: 50%;
  --border-radius: 16px;
  --box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  padding: 25px;
}


ion-modal::part(backdrop) {
  background: rgb(187, 187, 187);
  opacity: 1;
}

ion-modal ion-toolbar {
  text-align: center;
  font-family: "Outfit", sans-serif;
  --background: #FFB450;
  --color: white;
}


h2{
  font-family: "Outfit", sans-serif;
  font-weight: 500;
  color: black;
  font-size: 20px;
}

h3{
  font-family: "Outfit", sans-serif;
  color: black;
  font-size: 18px;
  
}
