<ion-content [fullscreen]="true">
  <div class="header">
    <p class="ptit">PEDIDOS</p>
    <p class="psub">EN PROCESO</p>
  </div>
  <img class="imgPhe" src="assets/ImgDeliMan/PLogHe.png" alt="Plog" />
  <ion-list lines="none" class="main">
    
    @for (pedido of pedidos; track pedido.idPedido) {
    <ion-item lines="none">
      <ion-card>
        <ion-grid>
          <ion-row>
            <ion-col>
              <img class="imgBanner" alt="Banner2" src="/assets/OPBanner.png" />
              <ion-card-subtitle class="status-pedido">{{pedido.estadoPedido}}</ion-card-subtitle>
            </ion-col>
            <ion-col>
              <ion-card-title class="nserie-title">N°{{pedido.numeroSerie}}</ion-card-title>
              
              <!-- MODAL DETALLE PEDIDO -->
              <ion-button id="modal-{{pedido.idPedido}}" class="btnview" color="#72C28F">
                <ion-icon name="eye"></ion-icon>
              </ion-button>

            <ion-modal [trigger]="'modal-' + pedido.idPedido">
                <ng-template>
                    <ion-content>
                        <ion-toolbar>
                            <ion-title>DETALLE DE PEDIDO</ion-title>                      
                        </ion-toolbar>

                        @for (detalle of pedido.detallePedidos; track detalle.idDetalle) {
                        <ion-list>
                            <ion-item>
                                <ion-avatar slot="start">
                                    <ion-img src="assets/ImgOPDetails/detalle_pedido_img.png"></ion-img>
                                </ion-avatar>
                                <ion-label>
                                    <h2>{{ detalle.producto.nombreProducto }}</h2>
                                    <h3>Cantidad:</h3>
                                    <h3>{{ detalle.cantidad }}</h3>
                                    <h3>Precio:</h3>
                                    <h3>{{ detalle.precioUnitario }}</h3>
                                </ion-label>
                            </ion-item>
                            <ion-item>
                                <ion-label>
                                    <h3>Total:</h3>
                                    <h3> S/.{{ detalle.totalDetalle }}</h3>
                                </ion-label>
                            </ion-item>
                        </ion-list>  
                        } 

                        <ion-list>
                            <ion-item>
                                <ion-label>
                                    <h3>Dirección de entrega:</h3>
                                    <h3>{{ pedido.direccionEntrega }}</h3>
                                </ion-label>
                            </ion-item>
                        </ion-list>                                       
                    </ion-content>
                </ng-template>
            </ion-modal>

              <ion-select
                class="iselect"
                label-placement="stacked"
                interface="popover"
                label="Estado:"
                placeholder="Seleccionar"
                [(ngModel)]="selectedEstado"
                >
                <ion-select-option value="EN_CAMINO">EN CAMINO</ion-select-option>
                <ion-select-option value="ENTREGADO">ENTREGADO</ion-select-option>
              </ion-select>
              <ion-button expand="block" fill="clear" shape="round" (click)="updateEstadoPedido(pedido)">
                Actualizar
              </ion-button>
            </ion-col>
            
          </ion-row>
        </ion-grid>
      </ion-card>
    </ion-item>
  }
  </ion-list>
  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button class="AddPro" (click)="cerrarSesion()">
      <ion-icon name="power-sharp"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>