<ion-content>
  <div class="form-container">
    <form [formGroup]="registerForm" (ngSubmit)="register()">
      <ion-item>
        <ion-label position="floating">DNI</ion-label>
        <ion-icon name="card" slot="start"></ion-icon>
        <ion-input formControlName="dni"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Nombre</ion-label>
        <ion-icon name="person" slot="start"></ion-icon>
        <ion-input formControlName="nombre"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Apellido</ion-label>
        <ion-icon name="people" slot="start"></ion-icon>
        <ion-input formControlName="apellido"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Teléfono</ion-label>
        <ion-icon name="call" slot="start"></ion-icon>
        <ion-input formControlName="telefono"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-icon name="mail" slot="start"></ion-icon>
        <ion-input formControlName="email" type="email"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Contraseña</ion-label>
        <ion-icon name="lock-closed" slot="start"></ion-icon>
        <ion-input formControlName="password" type="password"></ion-input>
      </ion-item>

      <ion-button expand="full" type="submit" class="submit-button">Registrar</ion-button>
    </form>
  </div>
</ion-content>